<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555163212013-n39sbaqvo1gg190qicd1ie43lqhhmot7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555163212013-n39sbaqvo1gg190qicd1ie43lqhhmot7</string>
	<key>API_KEY</key>
	<string>AIzaSyBRPbnYnrbn5csvR_byZFFmFSf9Fwl6wqk</string>
	<key>GCM_SENDER_ID</key>
	<string>555163212013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetsalihcakmak.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-5a051</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-5a051.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555163212013:ios:bfa00d12cce959a61554e4</string>
</dict>
</plist>